<html>
  <head>
      <meta charset="UTF-8">
      <title>Instafake</title>
      <link rel="stylesheet" href="/stylesheets/home.css"/>
      
      <% include ./partials/_header.ejs %>
  </head>
  <body>
    <div id="feed">
    <% postIds.forEach(function(posted) { //Going to make these variables a lot simpler with _.lodash, using _.zip and _.zipObject
      var postIdIndex = postIds.indexOf(posted); //which row is the posts id in
      var theUserId = postUserIds[postIdIndex]; // corresponding user_id
      var theDescription = postDescriptions[postIdIndex];
      var theImage = postImg[postIdIndex];
      var userIdIndex = userIds.indexOf(theUserId); // which row is the users id in
      var findName = usernames[userIdIndex]; // corresponding username 
       %>
      <div id="post-1">
        <div class="post-head">
          <div class="user-1-thumbnail">
            <a href="profile.ejs"><img src="/images/User-2.jpg" alt="User 1"/></a>
          </div>
          <div class="user">
            <h3><%= findName %></h3>
          </div>
        </div>
        <div class="post-body">
          <a href="profile.ejs" class="post-box"><img src="/images/<%= theImage %>" alt="Tracks!"/></a>
        </div>
        <div class="post-description">
          <p><%= theDescription %></p>
        </div>
        <div class="post-bottom">
          <div class="buttons">
            <form action = "/api/protected/comment" method = "post">
              <input type="text" id="postComment" maxlength="150" placeholder="Comment" name="comment">
              <div>
                <input type="hidden" name="postIdComment" value="<%= posted %>">
                <input type="submit" value="Comment"/>
              </div>
            </form>
          </div>
          <form action = "/api/protected/" method = "post">
              <input type="hidden" name="postId" value="<%= posted %>"> 
              <input id="yeah" type="submit" name= "<% posted %>" />
          </form>
        </div>
      </div>
    <% }) %>
    </div>

        <!--       <div id="holder">
                <div id="form">
                  <form action="/api/" method="post" enctype="application/x-www-form-urlencoded">
                    <div>
                      <label>Like</label>
                      <input type="button" value="Like">
                    </div>
                  </form>
                </div>
                <! <div class="box entypo-thumbs-up"> Like</div> -->
             <!--  </div>
              <div id="comments">
                <div id="form">
                  <form action="/api/" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="commentinfo">
                      <label>Comment:</label>
                      <input type="text" name="comment"/><br/>
                    </div>
                    <div>
                      <input type="submit"/>
                    </div>
                  </form>
                </div>
                </script>
              </div>
              </div>
              </div>
            </div>
          </div> --> 
      





